/* mobile first */
body {
  font-size: 14px;
  background-color: #F3F5FC;
  font-family: 'Montserrat', sans-serif;
}

header, section {
  margin: 24px 16px 55px 16px;
}

section textarea {
  width: 95%;
  height: 150px;
  background-color:  #F3F5FC;
  padding: 10px;
  color: #0A3871;
  border: none;
  margin-bottom: 10px;
}

section textarea::placeholder {
  color: #0A3871;
  font-weight: bold;
  font-size: 25px
}

textarea:focus {
  outline: none;
}

section p {
  color: #67808E;
  margin-bottom: 20px;
  font-weight: bold;
}

section p img {
  vertical-align: middle;
  margin: 0 5px 0 10px;
  width: 16px;
}

.encriptar {
  display: block;
  width: 100%;
  height: 67px;
  background: #0A3871;
  color: white;
  border-radius: 24px;
  margin-bottom: 20px;
  font-size: 16px;
}

.desencriptar {
  display: block;
  width: 100%;
  height: 67px;
  background: #F3F5FC;
  color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 24px;
  font-size: 16px;
  margin-bottom: 54px;
}

.mensaje {
  width: 100%;
  height: 130px;
  text-align: center;
  background: #FFFFFF;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  border-radius: 32px;
}

#mensajeEncriptado {
  display: none;
}

#mensajeEncriptado textarea {
  width: 90%;
  height: 200px;
  background: #ffffff;
  margin-top: 32px;
}

button.copiar {
  width: 80%;
  height: 67px;
  background: #ffffff;
  color: #0A3871;
  border: 1px solid #0A3871;
  border-radius: 24px;
  font-size: 16px;
  margin-bottom: 30px;
}

.copiar:hover {
  background: #0A3871;
  color: white;
  cursor: pointer;
  transition: 0.6s;
}

#mensajeEncriptado #mensaje {
  display: none;
  color: #0A3871;
  margin-bottom: 5px;
}

.mensaje img {
  display: none;
}

.mensaje h2 {
  font-size: 20px;
  font-weight: 700;
  padding: 32px 32px 0 32px;
  color: #343A40;
}

#containerImagen {
  margin: 0 45px;
}

#containerImagen h2{
  margin-bottom: 15px;
}


/* tabletas */
@media (min-width: 768px) {
  body {
    font-size: 15px;
  }

  header,section {
    margin: 24px 40px 80px 40px;
  }


  .encriptar {
    display: inline;
    width: 45%;
    margin-right: 24px;
    margin-bottom: 0;
  }

  .desencriptar {
    display: inline;
    width: 45%;
    margin-bottom: 0;
  }

  .mensaje img{
    display: none;
  }

}

/* escritorio normales */
@media (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  .primeraParte {
      width: 60%;
    }

  section textarea {
    height: 335px;
    font-size: 18px;
  }

  .mensaje {
    position: absolute;
    top: 80px;
    width: 30%;
    right: 20px;
    height: 570px;
  }

    .mensaje img {
      display: block;
      width: 80%;
      height: auto;
      margin: 50px auto;
    }

    #mensajeEncriptado textarea {
      height: 400px;
    }

    #containerImagen {
      margin: 0 17px;
    }

    .mensaje h2 {
      margin-bottom: 40px;
    }

    .encriptar:hover {
      background: white;
      color: #0A3871;
      cursor: pointer;
      transition: 0.6s;
    }

    .desencriptar:hover {
      background: #0A3871;
      color: white;
      cursor: pointer;
      transition: 0.6s;
    }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  body {
    font-size: 17px;
  }

    section textarea {
      height: 300px;
    }

    .mensaje {
      right: 30px;
      height: 580px;
      top: 30px;
    }

    .mensaje img {
      margin: 80px auto;
    }

    .mensaje h2 {
      padding: 0;
    }

}


/* pantallas muy grandes */
@media (min-width: 1600px) {
  section textarea {
      height: 400px;
  }

  .mensaje {
    height: 700px;
  }

  #containerImagen {
    margin: 0 30px;
  }

  #mensajeEncriptado textarea {
    height: 510px;
  }

}